.login-main{
        padding-top: 200px;
    }
.login-container{
        width: 350px;
        display: d-flex;
        background-color: rgb(255, 131, 30);
        border-radius: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
        box-shadow: 5px rgb(65, 65, 65);

        h2{
            text-align: center;
        }
        .form{
            padding-left: 30px;
            padding-right: 30px;
        }
        .form .form-label{
            font-size: 1.2rem;
            font-weight: 600;
        }
}

.dashboard-container{
    display: d-flex;
    width: 300px;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: orange;
}

@media (min-width: 768px){
    .login-main{
        padding-top: 150px;
    }

    .login-container{
        width: 500px;
        display: d-flex;
        background-color: rgb(255, 131, 30);
        border-radius: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
        box-shadow: 2px 2px 10px rgb(153, 153, 153);

        h2{
            text-align: center;
        }
        .form{
            padding-left: 100px;
            padding-right: 100px;
        }
        .form .form-label{
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
    .container .dashboard-container{
        margin-top: 200px;
    }
    .dashboard-container{
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        h1{
            text-align: center;
        }
    }
    .content-dashboard-container{
        width: 100%;
        padding-top: 120px;
        padding-bottom: 50px;
    }
    .home-hero-container{
        background-image: url('/home-img/hero-home.jpg'); /* Hapus '/public' dari path */
        opacity: 0.8;
        background-size: cover; /* Gunakan background-size: cover; untuk object-fit pada background-image */
        background-position: center center; /* Opsional: untuk posisi tengah */
        background-repeat: no-repeat; /* Opsional: agar gambar tidak mengulang */
        /* Pastikan juga elemen ini memiliki tinggi (height) agar background terlihat */
        min-height: 500px; /* Contoh, sesuaikan sesuai kebutuhan */
        h1{
            margin-top: 50px;
            background-color: white;
            padding: 20px 50px 20px 50px;
            opacity: 1;
            color: rgba(255, 123, 0, 0.84);
            border-radius: 20px;
        }
    }
    .home-content-container{
        padding-top: 50px;
    }
    .home-content-container .col{
        display: d-flex;
       
    }

    .detail-exercise-container{
        padding-top: 20px;
    }
    .detail-exercise-img{
        background-size: cover; /* Gunakan background-size: cover; untuk object-fit pada background-image */
        background-position: center center; /* Opsional: untuk posisi tengah */
        width: 30%;
        background-repeat: no-repeat; /* Opsional: agar gambar tidak mengulang */
        /* Pastikan juga elemen ini memiliki tinggi (height) agar background terlihat */
        min-height: 10x; /* Contoh, sesuaikan sesuai kebutuhan */
    }
    .detail-exercise-title{
        padding-top: 40px;
    }
}
